<div class="container">

<div class="container">
<div class="row">
    <div class="col">

    <% if Current.user.role == 'bidder' %>

    <% if @product.bidding_allowed %>
  
    <li class="list-group-item">
    <div class="d-flex justify-content-between">
    
    <button class="btn btn-link btn-light text-decoration-none text-success" data-bs-toggle="collapse" data-bs-target="#place-bid-section-<%= @product.id %>" aria-expanded="true" aria-controls="place-bid-section-<%= @product.id %>">
    <h7><i class="fas fa-gavel"></i><strong>Place Bid </strong><i class="fa fa-angle-down"></i></h7>
  </button>
    </div>
    <div id="place-bid-section-<%= @product.id %>" class="collapse">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="d-flex justify-content-between">
            <div>
              <% if @product.biddings.any? %>
                <% bidding = @product.biddings.order(created_at: :desc).first %>
                <i class="fas fa-crown"></i><strong>Current Highest Bid:</strong>₱<%= @product.current_lowest_bid %>
              <% else %>
                <strong>No bids yet</strong>
              <% end %>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="d-flex justify-content-between">
            <div>
            <i class="fa fa-arrow-down"></i><strong>Minimum Bid:</strong> ₱<%= @product.lowest_allowable_bid %>
            </div>
          </div>
        </li>
  
        <li class="list-group-item text-center">
  </br>
        <%= form_with(model: [@product, Bidding.new], local: true, data: { turbo: true }) do |form| %>
          <% if form.object.errors.any? %>
            <div class="alert alert-danger">
              <% form.object.errors.full_messages.each do |msg| %>
                <div><%= msg %></div>
              <% end %>
            </div>
          <% end %>
          <div class="row">
            <div class="col-md-8 mb-3">
              <%= form.hidden_field :@product_id, value: @product.id %>
              <%= form.hidden_field :user_id, value: Current.user.id %>
              <div class="form-group">
                <%= form.number_field :bid_amount, class: "form-control", placeholder: "Bid Must Be >= ₱ #{@product.current_lowest_bid + @product.lowest_allowable_bid}" %>
                
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="form-group">
                <%= form.submit "Place Bid", class: "btn btn-success btn-block" %>
              </div>
            </div>
          </div>
        <% end %>
        </li>
      </ul>
    </div>
  </li>
  
  
  <% end %>
  <% end %>





    <div class="card h-100">
    <div class="card-header">
    <div class="d-flex justify-content-between">
    <% if @product.bidding_allowed %>
    <% if @product.biddings.any? %>
      <div><i class="fas fa-crown"></i><strong>Current Bid: </strong> <% if @product.biddings.any? %>
        <% bidding = @product.biddings.order(created_at: :desc).first %>
        <%= bidding.user.username %>
      <% else %>
        <td>No bids yet</td>
      <% end %>
      </div>
      <% end %>
      <div class="d-flex align-items-center">
        <div class="ml-auto"><i class="fas fa-money-bill"></i>₱<%= @product.current_lowest_bid %></div>
      </div>
  
      <% else %>
      <% if @product.biddings.any? %>
      <div><i class="fas fa-crown"></i><strong>Winner: </strong> <% if @product.biddings.any? %>
        <% bidding = @product.biddings.order(created_at: :desc).first %>
        <%= bidding.user.username %>
      <% end %>
      </div>
  
      <div class="d-flex align-items-center">
        <div class="ml-auto"><i class="fas fa-money-bill"></i>₱<%= @product.current_lowest_bid %></div>
      </div>

      <% else %>

      <div><strong>No winner </strong>
    </div>
      <% end %>
      <% end %>
    </div>
  </div>

    <%= cl_image_tag(@product.image_url, height: 410) %>


    <div class="card-header">
    <div class="d-flex justify-content-between">
      <div>
      <i class="fas fa-shopping-bag"></i><strong>Product: </strong>
      <%=@product.name%>
      </div>
      <% if @product.bidding_allowed %>
       <div class="d-flex align-items-center">
       <i class="fas fa-stopwatch"></i>
        <div class="timer" data-expiration-time="<%= @product.bidding_expiration %>"></div>
      </div>
        <% if Current.user.role == 'auctioneer' %>
        <% if @product.user == Current.user %>
        <%= button_to "Stop Bidding", stop_bidding_product_path(@product), method: :put, class: "btn btn-danger stop-bidding-button", id: "stop-bidding-button" %>
        <% end %><% end %>
        <% else %>
        <div class="d-flex align-items-center">
          <i class="fas fa-stopwatch"></i>
          <span class="ml-2">Ended</span>
        </div>
      <% end %>
    </div>
  </div>






  <ul class="list-group list-group-flush">

    <li class="list-group-item d-flex justify-content-between align-items-center">
    <div>
      <i class="fas fa-user"></i><strong>Posted by: </strong>
      <span><%= @product.user.username %></span>
    </div>
    <div>
    <i class="fas fa-gavel"></i><strong>Starting bid:</strong>
    ₱<%= @product.starting_bid_price%>
    </div>
  </li>


  <li class="list-group-item d-flex justify-content-between align-items-center">
    <div>
  <i class="fas fa-hourglass-end"></i></i></i>
  <%= @product.bidding_expiration.strftime("%-m/%-d/%Y at %I:%M %p") %>
  </div>
  <div>
  <i class="fa fa-arrow-down"></i><strong>Minimum bid: </strong>
  ₱<%= @product.lowest_allowable_bid%>
  </div>
</li>


  <li class="list-group-item"><p class="card-text">
  <i class="fas fa-align-left"></i><strong>Description: </strong>
  <%= @product.description %>
  </li>



</div>  

      </div>
<div class="col">
<li class="list-group-item">
<div class="d-flex justify-content-between">

<button class="btn btn-link btn-light text-decoration-none text-warning" data-bs-toggle="collapse" data-bs-target="#bid-logs-section-<%= @product.id %>" aria-expanded="true" aria-controls="place-bid-section-<%= @product.id %>">
<h7><i class="fa fa-history"></i><strong>Bidding Log </strong><i class="fa fa-angle-down"></i></h7>
</button>
</div>

<div id="bid-logs-section-<%= @product.id %>" class="collapse">
  <ul class="list-group">
    <table>
    <thead>
      <tr>
        <th>Bidder Username</th>
        <th>Bid Amount</th>
        <th>Bid Date</th>
      </tr>
    </thead>
    <tbody>
      <% @product.biddings.each do |bidding| %>
        <tr>
          <td><%= bidding.user.username %></td>
          <td>₱<%= bidding.bid_amount %></td>
          <td><%= bidding.created_at.strftime("%-m/%-d/%Y at %I:%M %p") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>





    </div>
    
    </div>


    
      </div>


</br>

<%= javascript_include_tag ("timer.js")%>



  







  

