<!DOCTYPE html>
<html>
  <head>
    <title>BiddingApp</title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
    <%= render 'shared/navbar'%>
  </head>


  <body>
  <%= render partial: "shared/flash" %>
    <%= yield %>
  </body>
</html>
